<head>
	<!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="index.js"></script>
</head>
<body>
	<!-- Plotly chart will be drawn inside this DIV -->
	<div id="myDiv" style="width: 600px; height: 600px;"></div>
	<script>
		var search = window.location.search;
        var id = getParameterByName('id', search);
        var table = getParameterByName('table', search);
        get3dChart(id, table);
	</script>
</body>


