<head>
	<!-- Plotly.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="suggestion.js"></script>
</head>
<body>
	<h1>table</h1>
	name <input type="text" id="small_table_name" ><br><br>
	<fieldset id="small_table" >
		乾: <input type="text" name="username"><br>
		坤: <input type="text" name="username"><br>
		泰: <input type="text" name="username"><br>
		否: <input type="text" name="username"><br>
	</fieldset>

		<button onclick="onSubmitSmall()">送出</button> 
</body>



