<head>
	<!-- Plotly.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="suggestion.js"></script>
</head>
<body>
	<h1>table</h1>
	name <input type="text" id="small_table_name" ><br><br>
	<fieldset id="small_table" >
		乾: <input type="text" name="乾"><br>
		坤: <input type="text" name="坤"><br>
		泰: <input type="text" name="泰"><br>
		否: <input type="text" name="否"><br>
	</fieldset>

		<button onclick="onSubmitSmall()">送出</button> 

	<h1>table</h1>
	name <input type="text" id="full_table_name" ><br><br>
	<fieldset id="full_table" >
		乾: <input type="text" name="乾"><br>
		坤: <input type="text" name="坤"><br>
		屯: <input type="text" name="屯"><br>
		蒙: <input type="text" name="蒙"><br>
		需: <input type="text" name="需"><br>
		訟: <input type="text" name="訟"><br>
		師: <input type="text" name="師"><br>
		比: <input type="text" name="比"><br>
		小畜: <input type="text" name="小畜"><br>
		履: <input type="text" name="履"><br>
		泰: <input type="text" name="泰"><br>
		否: <input type="text" name="否"><br>
		同人: <input type="text" name="同人"><br>
		大有: <input type="text" name="大有"><br>
		謙: <input type="text" name="謙"><br>
		豫: <input type="text" name="豫"><br>
		隨: <input type="text" name="隨"><br>
		蠱: <input type="text" name="蠱"><br>
		臨: <input type="text" name="臨"><br>
		觀: <input type="text" name="觀"><br>
		噬嗑: <input type="text" name="噬嗑"><br>
		賁: <input type="text" name="賁"><br>
		剝: <input type="text" name="剝"><br>
		復: <input type="text" name="復"><br>
		無妄: <input type="text" name="無妄"><br>
		大畜: <input type="text" name="大畜"><br>
		頤: <input type="text" name="頤"><br>
		大過: <input type="text" name="大過"><br>
		坎: <input type="text" name="坎"><br>
		離: <input type="text" name="離"><br>
		咸: <input type="text" name="咸"><br>
		恆: <input type="text" name="恆"><br>
		遁: <input type="text" name="遁"><br>
		大壯: <input type="text" name="大壯"><br>
		晉: <input type="text" name="晉"><br>
		明夷: <input type="text" name="明夷"><br>
		家人: <input type="text" name="家人"><br>
		睽: <input type="text" name="睽"><br>
		蹇: <input type="text" name="蹇"><br>
		解: <input type="text" name="解"><br>
		損: <input type="text" name="損"><br>
		益: <input type="text" name="益"><br>
		夬: <input type="text" name="夬"><br>
		姤: <input type="text" name="姤"><br>
		萃: <input type="text" name="萃"><br>
		升: <input type="text" name="升"><br>
		困: <input type="text" name="困"><br>
		井: <input type="text" name="井"><br>
		革: <input type="text" name="革"><br>
		鼎: <input type="text" name="鼎"><br>
		震: <input type="text" name="震"><br>
		艮: <input type="text" name="艮"><br>
		漸: <input type="text" name="漸"><br>
		歸妹: <input type="text" name="歸妹"><br>
		豐: <input type="text" name="豐"><br>
		旅: <input type="text" name="旅"><br>
		巽: <input type="text" name="巽"><br>
		兑: <input type="text" name="兑"><br>
		渙: <input type="text" name="渙"><br>
		節: <input type="text" name="節"><br>
		中孚: <input type="text" name="中孚"><br>
		小過: <input type="text" name="小過"><br>
		既濟: <input type="text" name="既濟"><br>
		未濟: <input type="text" name="未濟"><br>
	</fieldset>

		<button onclick="onSubmitFull()">送出</button> 
</body>




